
.container {
	max-width: 1280px;
}


.btn {
	font-family: 'BrownMedium';
	border: 1px solid #e4aa54;
	border-radius: 8px;
	background: #e4aa54;
	font-size: 24px;
	font-weight: 500;
	height: 60px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	max-width: 250px;
}

.btn:hover {
	border: 1px solid #e4aa54;
	color: #e4aa54;
}

.btn_black {
	border: 1px solid #000000;
	border-radius: 30px;
	background: #000000;
	font-size: 18px;
	font-weight: 500;
	height: 60px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px
}

.btn_black:hover {
	border: 1px solid #000000;
}

/*======== Scrollable Vertical Social Link Icon ========*/
/*======== Scrollable Vertical Social Link Icon ========*/




/*HEADER CSS Start*/
.topSection{
	background: #eea840;
	height: 50px;
	display: flex;
	align-items: center;
}

.topSection a{
	font-size: 16px;
	 font-weight: normal;
	 color: #ffffff;
	 margin: 0 8px;
	 text-decoration: none;
	  -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.topSection a:hover{
	 color: #30373f;
	 text-decoration: none;
	  -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.topSection a .fa{
	font-size: 24px;
}

.topSection .leftSide{
	display: flex;
}

.topSection .leftSide a{
	display: flex;
	align-items: center;
}

.topSection .leftSide a .fa{
	margin-right: 10px;
}



header.static-header {
	width: 100%;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 15;
	margin: 0px auto;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background:rgba(48, 55, 63, 0.8);

	border-bottom: 1px solid #eea840;
}

header.fixed-header {
	width: 100%;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 15;
	margin: 0px auto;
	border-radius: 0px;
	background-color: #30373f !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


header .navSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	margin:0 0 0 30px;
	text-transform: uppercase;
}

.navigation ul li a:hover{
	color: #e4aa54;	
}

.navbar-toggler {
	padding: 0px;
	font-size: inherit;
	line-height: normal;
	color: inherit;
	border: 2px solid #000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	width: auto;
	height: auto;
	background-image: none;
}

.navbar-expand-lg .offcanvas {
	flex-grow: 0;
}

.quoteBtn a{
	border:1px solid #30373f;
	background: #e4aa54;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	border-radius: 4px;
	padding: 12px 15px;
}

.quoteBtn a:hover{
	border:1px solid #ffffff;
	background: transparent;
	color: #ffffff
}


@media all and (max-width: 767px) {
	
	header .navSection {
		padding: 0 15px;
		height: 70px
	}

	header .navSection .offcanvas {
		background: rgba(255, 255, 255, 0.9);
	}

	header .navSection .offcanvas-header {
		margin-top: 30px
	}

	.offcanvas-header .btn-close {
		margin: 0;
		padding: 10px;
		border: 2px solid;
		border-radius: 100px;
	}

	header .navSection .logo img,
	.offcanvas-header .logo img {
		width: 180px;
		height: auto;
	}

	.line,
	.scroll-down {
		display: none !important;
	}

	.navigation ul {
		flex-direction: column;
	}

	.navigation ul li {
		margin-left: 0;
		border-bottom: 1px solid #ccc;
		padding: 5px;
	}
}


/*HEADER CSS END*/

.heroContainer{
  position: relative;
}

.heroContainer .swiper-container {
 width: 100%;
 height: 100vh;
 overflow: hidden;
 background: #000000;
}


.heroContainer .swiper-container .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroContainer .swiper-container .swiper-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.heroContainer .swiper-container .swiper-slide:after{
 background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
 min-height: 70%;
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 1;
}


.heroContainer .swiper-container .swiper-slide .slideContent{
  position: absolute;
  z-index: 10;
  /*bottom: 150px;*/
  bottom: 90px;
  width: 1370px;
  max-width: 100%;
}

.heroContainer .swiper-container .swiper-slide .slideContent .heroDesc{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto
  /*max-width: 640px;*/
  /*max-width: 1000px;*/
}

.heroContainer .swiper-container .swiper-slide img.img-fluid{
  opacity: 0.75;
  width: 100%;
  height: 100%;
}

.heroContainer .swiper-container .swiper-slide .slideContent .heroDesc h1{
  color: #ffffff;
  font-size: 65px;
  line-height: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 100%;
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.heroContainer .swiper-container .swiper-slide .slideContent .heroDesc h1 span{
	display: block;
	color: #e4aa54;
  font-size: 30px;
  line-height: 50px;
   font-family: 'BrownLight';
   text-shadow: 1px 1px 1px  rgba(0,0,0,0.6);
}

.heroContainer .swiper-container .swiper-slide .slideContent .heroDesc p{
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'BrownLight';
  margin-bottom: 30px;
}

.heroContainer .swiper-container .swiper-slide-active .heroDesc h1 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-delay: 0.10s;
}

.heroContainer .swiper-container .swiper-slide-active .heroDesc h1 span {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-delay: 0.10s;
}

.heroContainer .swiper-container .swiper-slide .slideContent .heroDesc .btn {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-delay: 0.10s;
}

.heroContainer .swiper-container .swiper-slide-active .heroDesc p {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-delay: 0.15s;
}


.swiper-progress-bar{
  position: relative;
  bottom: 60px;
  height: 4px;
  max-width: 1370px;
  margin: 0 auto;

  
}

.progress{
  height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  background: #ffffff;
  z-index: 1;
}

.progress-sections{
  left: 0;
  top: 0;
  position: absolute;
  height: inherit;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;

}

.progress-sections span{
  flex: 1;
  height: inherit;
  background: rgba(255,255,255,0.5);
  height: 5px;
  margin: 0 8px;
}

/*.heroContainer .swiper-container .swiper-slide img,
.heroContainer .swiper-container .swiper-slide.swiper-slide-visible img{
   animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
  }*/


 .heroContainer .swiper-container .swiper-slide-active img{
    animation: slideShow 24s linear infinite 0s;
    -o-animation: slideShow 24s linear infinite 0s;
    -moz-animation: slideShow 24s linear infinite 0s;
    -webkit-animation: slideShow 24s linear infinite 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

  }


  @keyframes 
  slideShow {  0% {
   opacity: 0;
   transform:scale(1);
   -ms-transform:scale(1);
 }
 5% {
   opacity: 1
 }
 25% {
   opacity: 1;
 }
 30% {
   opacity: 0;
   transform:scale(1.1);
   -ms-transform:scale(1.1);
 }
 100% {
   opacity: 0;
   transform:scale(1);
   -ms-transformm:scale(1);
 }
}
@-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
5% {
 opacity: 1
}
25% {
 opacity: 1;
}
30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}
@-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
5% {
 opacity: 1
}
25% {
 opacity: 1;
}
30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}
@-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
5% {
 opacity: 1
}
25% {
 opacity: 1;
}
30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}

.swiper-pagination{
  margin-bottom: 40px;
}

.swiper-pagination .swiper-pagination-bullet{
  width: 16px;
  height: 16px;
  background: #ffffff;
  opacity: 0.5;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #f0a941;
}

/**************************/

/********/
.aboutSection{
	padding: 80px 0;
}

.aboutDesc{
	overflow: hidden;
}

.aboutDesc h2{
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.aboutDesc ul li{
  position: relative;
  padding: 0 0 0 75px;
  margin-bottom: 50px;
}

.aboutDesc ul li .col-6{
  position: relative;
}

.aboutDesc ul li h3{
  font-size: 30px;
  font-family: 'BrownMedium';
  font-weight: 500;
  color: #000000;
  letter-spacing: -0.5px;
}

.aboutDesc ul li p{
  font-size: 18px;
  font-family: 'BrownLight';
  font-weight: 300;
  color: #000000;
  opacity: 0.75;
  line-height: normal;
  max-width: 80%;
}

.aboutDesc ul li:before{
  content: "";
  background: url(../images/tick-icon.png) no-repeat top right;
  width: 60px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
}

/************/


  .getTouch{
    background: url(../images/grt-touch-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px;
  }

  .getTouch .desc{
    max-width: 800px;
    margin: 0 auto;
    color: #ffffff;
  }

  .getTouch .desc h2{
    font-family: 'BrownMedium';
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .getTouch .desc p{
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
  }


  .getTouch .desc .btn{

    margin: 30px auto 0;
  }


/********/
.productSection{
	padding: 80px 0;
}

.productSection .heading{
	position: relative;
	margin-bottom: 20px;
}

.productSection .heading .btn{
	position: absolute;
	right: 0;
	top: 0;
}
.productSection .heading h3{
	font-size: 54px;
	font-weight: normal;
	color: #30373f;
	margin: 0;
	text-transform: uppercase;
}


.productSection .heading h3 small{
	font-family: 'BrownLight';
	font-size: 26px;
	font-weight: 500;
	color: #f0a941;
	display: block;
	text-transform: capitalize;
}


.productSlider .colBox{
	position: relative;
	overflow: hidden;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productSlider .desc{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	text-align: center;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productSlider .colBox:hover .desc{
	padding: 20px 10px;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productSlider .desc h3{
	font-family: 'BrownLight';
	font-weight: normal;
	font-size: 28px;
	color: #f0a941;
	text-transform:  uppercase;
	text-align: center;
	margin: 0;
}

.productSlider .colBox img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.productSlider .colBox:hover img{
	transform: scale(1.2);
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/********/

.videoSection{
}


.videoDesc{
	position: relative;
	max-height: 560px;
}

.videoDesc img{
	width: 100%;
	height: 100%;
	max-height: 560px;
	object-fit: cover;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #eb2055; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 55px;
  height: 55px;
  background: #fdbe02;
  border-radius: 50%;
  animation: pulse-border 1100ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fdbe02;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 19px solid #fff;
	border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  top: 10px;
  left: 5px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}


/********/
.servicesSection{
	background: url(../images/back-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 80px 0;
}

.servicesSection .heading{
	position: relative;
	margin-bottom: 20px;
}

.servicesSection .heading .btn{
	position: absolute;
	right: 0;
	top: 0;
}
.servicesSection .heading h3{
	font-size: 54px;
	font-weight: normal;
	color: #ffffff;
	margin: 0;
	text-transform: uppercase;
}


.servicesSection .heading h3 small{
	font-family: 'BrownLight';
	font-size: 26px;
	font-weight: 500;
	color: #f0a941;
	display: block;
	text-transform: capitalize;
}

.servicesSection .services{
	display: flex;
}

.servicesSection .services .col{
	flex-basis: 33.33%;
	padding: 30px;
	background: #ffffff;
	border:1px solid #30373f;
}

.servicesSection .services .col img{
	margin: 0 0 20px;
}

.servicesSection .services .col h3{
	font-family: 'BrownMedium';
	font-size: 26px;
	font-weight: normal;
	color: #f0a941;
	display: block;
	margin: 0 0 20px;
}

.servicesSection .services .col p{
	font-family: 'BrownLight';
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	color: #2e343b;
	display: block;
	margin: 0 0 20px;
}


/********/
.testimonailSection{
	padding: 80px 0;
}

.testimonailSection .heading{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}

.testimonailSection .heading h3{
	font-size: 54px;
	font-weight: normal;
	color: #2e343b;
	margin: 0;
	text-transform: uppercase;
}


.testimonailSection .heading h3 small{
	font-family: 'BrownLight';
	font-size: 26px;
	font-weight: 500;
	color: #f0a941;
	display: block;
	text-transform: capitalize;
}

.testimonail{
}

.testimonailWrap{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.testimonailWrap .ratingDesc{
	position: relative;
	margin-bottom: 15px;
}
.testimonailWrap .ratingDesc .ratings{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.testimonailWrap .ratingDesc .ratings i{
	color: #e4aa54;
	margin:0 3px;
	font-size: 18px;
}

.testimonailDesc{
	max-width: 800px;
	margin:0 auto 35px;
	text-align: center;
}

.testimonailDesc h3{
	font-family: 'BrownMedium';
	font-size: 24px;
	font-weight: normal;
	color: #30373f;
	margin: 0 0 10px;
}

.testimonailDesc p{
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	color: #30373f;
	margin: 0 0 10px;
}

.clientName{
	display: flex;
	align-items: center;
}

.clientName .clientImg{
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 100%;
	margin-right: 15px;
}

.clientName .clientImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.clientName .name{
	font-family: 'BrownMedium';
	font-size: 18px;
	color: #30373f;
	font-weight: normal;
}

.clientName .name span{
	font-family: 'BrownLight';
	display: block;
	font-weight: normal;
}

.testimonailSlider .swiper-slide{
	opacity: 0.3
}

.testimonailSlider .swiper-slide.swiper-slide-active{
	opacity: 1
}

/************/
footer{
	background: #30373f;
}

.footer{	
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.footer .footerLogo{
	margin-bottom: 40px;
}

.footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 80%;
}

.footer ul li{
	font-size: 18px;
	font-weight: normal;
	font-family: 'BrownLight';
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 20px;
}



.footer .social-icon {
}


.footer .social-icon a {
	margin: 0 8px;
	display: inline-block;
	color: #ffffff;
	font-size: 32px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.footer .social-icon a:hover,
.footer .social-icon a:active,
.footer .social-icon a:focus {
	color: #eea840 !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.botFooter {
	border-top: 1px solid rgba(255,255,255,0.5);
	padding: 15px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
}

.text-right{
	text-align: right;
}